:root{
	background-color: #3e424b;
	color:#fff;
	overflow:scroll;
}
*{
	box-sizing: border-box;
}
body{
	background-image: './bg.png';
	background-repeat: repeat;
}
h1, h2, h3, h4, h5, h6{
	margin:0;
}
/*custom scrollbar*/
::-webkit-scrollbar{
	width:5px;
	background-clip: padding-box;
}
::-webkit-scrollbar-track{
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	background-color: #49555e;
	border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover{
	background-color: #3b454b;
}