body {
margin: 0;
background-color: #FFB3DD;
 text-align: center;
}
 h1 {
  color: white;
  font: courier-new;
}
p1 {
 color: white;
 font: helvetica;
}
.fit-picture {
max-width: 50%;
  height: auto;
}
